MCU_MODEL = STM32L432K(B-C)Ux
CHIBIOS_VERSION = 3.0

HEADER

/*
 * Setup for STMicroelectronics STM32 Nucleo32-L432KC board.
 */

/*
 * Board identifier.
 */
#define BOARD_ST_NUCLEO32_L432KC
#define BOARD_NAME                  "STMicroelectronics STM32 Nucleo32-L432KC"

/*
 * Board oscillators-related settings.
 * NOTE: HSE not fitted.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                32768U
#endif

#define STM32_LSEDRV                (2U << 3U)

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                0U
#endif

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#define STM32L432xx

/*
 * IO pins assignments.
 */
CONFIG
# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PP_or_OPENDRAIN PIN_SPEED PULL_RESISTOR INITIAL_LEVEL AF_NUMBER
# SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
#
# DEFAULT AND SYS
DEFAULT ANALOG   	PUSHPULL	SPEED_VERYLOW	FLOATING LEVEL_HIGH AF0	ASCR_DISABLED LOCKR_DISABLED
PA13	SWDIO     	SWDIO		AF:SYS_JTMS-SWDIO
PA14	SWCLK     	SWDIO		AF:SYS_JTCK-SWCLK
PA08    RCC_MCO		SYS		AF:RCC_MCO


PA02	VCP_TX    	UART		AF:USART2_TX
PA15	VCP_RX    	UART		AF:USART2_RX


PB00	ARD_D3    	INPUT    	PULLUP
PB03	LED_GREEN 	LED










